.image-about-details{
	padding:15px;
	border-radius: 5px;
	background-color: darkgrey;
	font-size: 20px;
	font-weight: lighter;
}
body{
	/*background-image:url('/static/images/background.jpg');*/
	background-color: black;
	color:#D3D3D3;
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
	font-family:monospace ,serif;
	overflow: scroll;
}
#profile-image{
	width:100px;
	height: 100px;
	border-radius: 50px;
}
#content-section{
	padding:5px;
}
div{
	margin-bottom:5px ;
}
div header{
	font-size: 20px;
	border-bottom:2px solid whitesmoke;
}
a{
	color:cadetblue;
	text-decoration:none;
}
a:hover{
	background-color:powderblue;
	padding:3px;
	border-radius:3px;
}