{% load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'blog/base.css' %}">
	{% block head %}
	{% endblock %}
</head>
<body>
	{% if user.is_authenticated%}
	    <p>Hi, {{ user.username }}</p>
	    <a href="{% url 'logout' %}"> Log out </a> | 
	    <a href="{%url 'sign-up'%}">Sign Up</a>
	{% else%}
		<p>You are not logged in .</p>
		<a href="{% url 'login'%}">Click the link to sign in</a>
	{% endif %}
	{%block body%}
	{% endblock %}
</body>
</html>